
ul{
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:0;
    padding:0;
    flex-wrap: wrap;

    .pagination-number{
        list-style: none;
        border-radius: 0.8rem;
        background-color:$primary;
        text-align: center;
        margin: 0 0.5rem  0 0.5rem;
        padding:0.18rem 0.5rem 0.18rem 0.5rem;
        
        a{
            color: $primary-white;
            text-decoration: none;
            
        }
        
    };

    .clicked-number{
        background-color: $active-number;
    }
}

.anchor-page-style{
    display: flex;
    justify-content: center;
    align-items: center;
};

.arrow{
    width: 1.8rem;
    margin-right: 0.5rem;
};

.go-back{
    font-size: 1.2rem;
    width:160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50px;
    background-color:$button;
    color:white;
    align-self: flex-end;
    text-decoration: none;
};

.go-back:hover{
    background-color:$primary-hover;
};

@include media-breakpoint-max($lg){
    .go-back{
        align-self: center;
        margin-bottom: 1rem;

    };
    
};
