
ul{
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:0;
    padding:0;

    .pagination-number{
        list-style: none;
        width: 2rem;
        border-radius: 0.2rem;
        background-color:$primary;
        text-align: center;
        margin: 0 1rem  0 1rem;
        padding:0.2rem 0 0.2rem 0;
        
        a{
            color: $primary-white;
            text-decoration: none;
            
        }
        
    };

    .clicked-number{
        background-color: $active-number;
    }
}


