.form-search{
    display: flex;
    justify-content: space-between;


    .select-container{
        font-weight: 800;
        color:$secondary;
        display: flex;
        flex-direction: row;
        text-align-last: end;
        align-items: center;

        label{
            margin: 0 1% 0 4%;
            text-align: end;
        }
        select{
            font-weight: 800;
            font-size: 1rem;
            width:9rem;
            height: 2rem;
            margin:  0 2% 0 0;
            border: none;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            outline: none;
        }
        
    }
    .input-container{
        width: 45%;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 2px solid;
        border-bottom-color: $primary;

        input{
            font-weight: 400;
            font-size: 1.5rem;
            width: 25rem;
            height: 3rem;
            border: none;
            margin-left: 25px;
            outline: none;
        }
        input::placeholder{
            color:$secondary;
            font-weight: 800;
            font-size: 1.5rem;
        }
        input:active{
            outline: none;
        }
        i{
            color:$primary;
        }
    }
    
}


@media screen and (max-width:1025px){
    .form-search{
        display: flex;
        flex-direction: column;
    }
}



