.form-search{
    display: flex;
    justify-content: space-between;
    background-color:$primary;
    padding: 2rem 1.5rem 2rem 1.5rem;
    border-radius: 60px;
    box-shadow: 10px 10px 5px 0px rgba(46,77,125,0.75);
    font-size: 1rem;
    margin-top: 1rem;

    .select-container{
        color:$secondary;
        display: flex;
        flex-direction: row;
        text-align-last: end;
        align-items: center;

        label{
            text-align: end;
            color:$primary-white;
            margin-right: 2%;
        }
        select{
            width:30%;
            height: 2rem;
            margin-right:  3%;
            padding-right: 0.5rem;
            border: none;
            border-radius: 7px;
            outline: none;
            margin: 3% 3% 3% 0;
        }
        
    }
    .input-container{
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;

        input{
            font-weight: 400;
            font-size: 1.5rem;
            width:100%;
            height: 3rem;
            border: none;
            margin-left: 25px;
            outline: none;
            border-radius:10px;
        }
        input::placeholder{
            color:$secondary;
            font-weight: 800;
            font-size: 1.2rem;
            text-align: center;
        }
        input:active{
            outline: none;
        }
        i{
            color:$primary-white;
            font-size: 2rem;
        }
    }
};



@include media-breakpoint-max($xl){
    .form-search{
        display: flex;
        flex-direction: column;

        .input-container{
            width: 100%;
            margin-bottom: 1rem;
        }
    }
};

@include media-breakpoint-max($lg){
    
    .form-search{
        .select-container{
            flex-wrap: wrap;
            justify-content:center;
        }
    }
};

@include media-breakpoint-max($md){
    
    .form-search{
        .select-container{
            flex-direction: column;
            justify-content:center;
            select{
                width: 100%;
            }
        }

        .input-container{
            input::placeholder{
                font-size: 1rem;
                padding-left: 3%;
    
            }
        }
        
    }
}


