.primary-header {
	background-color: $primary;
	width: 100%;
	height: 27rem;
	display: flex;
	flex-direction: column;
	border-bottom: solid 7px;
    border-bottom-color: $active-number;

	h1{
		font-family: 'Bangers', cursive;
		height:12%;
		font-size: 3.2rem;
		color: whitesmoke;
		margin:0;
		padding: 0 10px;
		background-color: rgb(224, 43, 43);
		text-align: center;
		align-self: center;
	}
	img{
		height:88%;
		object-fit:cover;

		opacity: 0.5;
	}
};