body{
    background-color:$background-body;
    position: relative;
}

.container{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    padding: 0 8rem 0 8rem;

    .search-container-general{
        width: 100%;
        margin: 2rem 1rem 4rem 0;

        h2{
            text-align: center;
        }
    }
}

.style-result-number{
    font-size: 0.8rem;
    font-weight: 800;
    color: $secondary;
}

.img-item, .img-characters{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-top:1rem;
    padding:0;
};

.container-pages{
    display: flex;
    justify-content:center;
    align-items: center;

    .page-next-previous{
        padding: 0.5rem;
        text-align: center;
        text-decoration: none;
        border: none;
        border-radius: 0.3rem;
        background-color:$primary;
        color:$primary-white;
    }
}

.container-all-info{
    width:100%;
    display: flex;
    margin-bottom: 2rem;
    justify-content: flex-start;

    img{
        width: 25%;
        margin-right: 2rem;
        border-radius: 2%;
        box-shadow: 10px 10px 5px 0px rgba(8,19,36,0.75);

    }
}

.container-info-associated{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .characters{
        margin: 1rem;
    }
}

.container-info-plus-pages{
    width:100%;
    display: flex;
    flex-direction: column;
}

.results-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-info{
    color:$primary-white;
    width:100%;
    border-radius: 20px;
    background-color:$primary;
    box-shadow: 3px 4px 6px 1px rgba(8,19,36,0.45);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    h3, h4, p{
        margin-bottom: 1rem;
    }

}