@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 0; }

.hidden {
  display: none; }

.primary-header {
  background-color: #081324;
  width: 100%;
  height: 27rem;
  display: flex;
  flex-direction: column; }
  .primary-header h1 {
    font-family: 'Bangers', cursive;
    height: 12%;
    font-size: 3.2rem;
    color: whitesmoke;
    margin: 0;
    padding: 0 10px;
    background-color: #e02b2b;
    text-align: center;
    align-self: center; }
  .primary-header img {
    height: 88%;
    object-fit: cover;
    opacity: 0.5; }

.container {
  margin: 0 8%;
  font-family: 'Roboto', sans-serif; }
  .container .search-container-general {
    margin: 4rem 0 4rem 0; }

.style-result-number {
  font-size: 0.8rem;
  font-weight: 800;
  color: #76768d; }

.img-item, .img-characters {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .img-item .comics, .img-characters .comics {
    width: 14rem; }
    .img-item .comics a, .img-characters .comics a {
      text-decoration: none; }
      .img-item .comics a img, .img-characters .comics a img {
        width: 100%;
        box-shadow: 0 26px 24px -16px #1a3661;
        transform: translateY(0);
        transition: 0.2s; }
      .img-item .comics a img:hover, .img-characters .comics a img:hover {
        transform: translateY(-10px);
        transition: 0.2s; }
      .img-item .comics a h3, .img-characters .comics a h3 {
        font-size: 0.8rem; }
  .img-item .characters, .img-characters .characters {
    overflow: hidden;
    width: 11rem;
    height: 20rem;
    background-color: #081324;
    margin-bottom: 1rem; }
    .img-item .characters a, .img-characters .characters a {
      width: 100%;
      text-decoration: none; }
      .img-item .characters a img, .img-characters .characters a img {
        width: 100%;
        transition: 0.2s;
        border-bottom: 4px solid #ed1d23; }
      .img-item .characters a img:hover, .img-characters .characters a img:hover {
        transform: scale(1.2);
        transition: 0.2s; }
      .img-item .characters a h3, .img-characters .characters a h3 {
        height: 3rem;
        font-size: 0.8rem;
        text-transform: uppercase;
        color: whitesmoke;
        padding: 16px 24px 17px 20px; }

.container-pages {
  display: flex;
  justify-content: center;
  align-items: center; }
  .container-pages .page-next-previous {
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 0.3rem;
    background-color: #081324;
    color: whitesmoke; }

.container-all-info {
  display: flex;
  margin-bottom: 2rem; }
  .container-all-info img {
    width: 30%;
    margin-right: 2rem; }

.form-search {
  display: flex;
  justify-content: space-between; }
  .form-search .select-container {
    font-weight: 800;
    color: #76768d;
    display: flex;
    flex-direction: row;
    text-align-last: end;
    align-items: center; }
    .form-search .select-container label {
      margin: 0 1% 0 4%;
      text-align: end; }
    .form-search .select-container select {
      font-weight: 800;
      font-size: 1rem;
      width: 9rem;
      height: 2rem;
      margin: 0 2% 0 0;
      border: none;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      outline: none; }
    .form-search .select-container button {
      font-size: 1.2rem;
      width: 10rem;
      height: 2.5rem;
      padding: 0 2% 0 2%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 5px;
      background-color: #081324;
      color: white;
      background-color: #081324; }
    .form-search .select-container button:hover {
      background-color: #1a3661; }
  .form-search .input-container {
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid;
    border-bottom-color: #081324; }
    .form-search .input-container input {
      font-weight: 400;
      font-size: 1.5rem;
      width: 25rem;
      height: 3rem;
      border: none;
      margin-left: 25px;
      outline: none; }
    .form-search .input-container input::placeholder {
      color: #76768d;
      font-weight: 800;
      font-size: 1.5rem; }
    .form-search .input-container input:active {
      outline: none; }
    .form-search .input-container i {
      color: #081324; }

@media screen and (max-width: 1025px) {
  .form-search {
    display: flex;
    flex-direction: column; } }

ul {
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0; }
  ul .pagination-number {
    list-style: none;
    width: 2rem;
    border-radius: 0.2rem;
    background-color: #081324;
    text-align: center;
    margin: 0 1rem  0 1rem;
    padding: 0.2rem 0 0.2rem 0; }
    ul .pagination-number a {
      color: whitesmoke;
      text-decoration: none; }
  ul .clicked-number {
    background-color: #3f80e2; }
