.form-search {
  display: flex;
  justify-content: space-between; }
  .form-search .select-container {
    font-weight: 800;
    color: blue;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .form-search .select-container label {
      margin: 0 1% 0 0; }
    .form-search .select-container select {
      font-weight: 800;
      width: 10rem;
      height: 2rem;
      margin: 0 2%; }
  .form-search .input-container {
    display: flex;
    flex-direction: row; }
    .form-search .input-container input {
      background-color: blue;
      width: 24rem;
      height: 3rem;
      margin-left: 25px; }
    .form-search .input-container input::placeholder {
      font-weight: 800;
      font-size: 1.5rem; }
